node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

src/img/

assets/fonts
assets/img
assets/cryptodog_icon.ai

README.md
RoboDog-83be3de74d8641389edbd62caa0cd8b4-signed.apk
RoboDog-b0e89eb41e884e11b253ffcb99bf304b-signed.apk